<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{page.description}}" />
  <meta name="theme-color" content="#17202a" />
  <meta property="og:title" content="{{page.title}} - {{site.company_name}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:type" content="website" />
  <title>{{page.title}} - {{site.company_name}}</title>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="css/fontawesome/all.min.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img src="assets/images/hero-bg.jpg" alt="Relatorio de producao escolar" loading="eager">
    </div>
    {{> partials/public/common/header}}
    {{> partials/public/common/page_hero}}
  </div>

  <main id="main">
    {{> partials/pages/relatorio_full}}
  </main>

  {{> partials/public/common/footer}}
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
